#add-post {
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

#add-post textarea {
    padding: 0.5rem;
    width: 100%;
    border-radius: 18px;
    resize: none;
    margin-top: 5px;
}

#add-post .btn {
    text-transform: initial;
    padding: 9px 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

#add-post .button-div {
    display: flex;
    justify-content: center;
}

#add-post .btn-right {
    width: 50%;
}

#add-post .post-type-div {
    display: flex;
}

#add-post .post-type-div .btn {
    width: 50%;
}

#add-post .post-type-div .type-btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#add-post .post-type-div .type-btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#add-post .inactive {
    background-color: aliceblue;
}

#add-post input {
    display: none;
}

#add-post label {
    cursor: pointer;
    width: 160px;
    text-align: center;
    align-items: center;
    padding-top: 12px !important;
}

#add-post .post-container {
    display: flex;
    flex-direction: column;
}

#add-post .post-photo {
    margin-top: 10px;
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    max-height: 1000px;
}