#add-post {
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#add-post textarea {
    padding: 0.5rem;
    width: 100%;
    border-radius: 18px;
    resize: none;
    margin-top: 5px;
}

#add-post .btn {
    text-transform: initial;
    padding: 9px 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

#add-post .button-div {
    position: relative;
}

#add-post .btn-right {
    position: absolute;
    right: 0;
}