#edit-profile {
    height: 100%;
}

#edit-profile .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    padding-top: 97px;
    background-color: white;
    height: 100%;
}

#edit-profile select {
    min-width: 100px;
}

#edit-profile .btn {
    width: 264px;
}