#friend-request-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    min-width: 300px;
    width: 650px;
    max-width: 1000px;
    background-color: white;
}

#friend-request-card .user-thumbnail {}

#friend-request-card i {
    color: gray;
    cursor: pointer;
    font-size: 1.5rem;
}

#friend-request-card .accept {
    color: var(--light-blue);
}

#friend-request-card .decline {
    color: red;
}

#friend-request-card i:last-child {
    margin-left: 10px;
}

#friend-request-card i:hover {
    transition: 0.4s;
}