.name-surname {
    display: flex;
    justify-content: space-between;
}

#login .picture-container {
    background-image: url("../img/login.svg");
    margin-right: 100px;
}

.name-surname .form-element {
    width: 49%;
}


.btn.unfriend {
    color: red;
    border: 2px solid red;
}

.btn.unfriend:hover {
    background-color: red;
    color: #fff;
}

@media (max-width: 870px) {}

@media (max-width: 570px) {}