.name-surname {
    display: flex;
    justify-content: space-between;
}

.name-surname .form-element {
    width: 49%;
}


.btn.unfriend {
    color: red;
    border: 2px solid red;
}

.btn.unfriend:hover {
    background-color: red;
    color: #fff;
}

@media (max-width: 870px) {}

@media (max-width: 570px) {}