    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
    * {
        margin: 0;
        padding: 0;
        /* padding doesn't make the width bigger */
        box-sizing: border-box;
    }
    /*Change text in autofill textbox*/
    
    body {
        font-family: "Poppins", sans-serif;
    }
    
    .container {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }
    
    .login-container,
    .register-container {
        width: 50%;
        min-width: 430px;
        background-color: #fff;
        min-height: 100vh;
        overflow: hidden;
        z-index: 2;
    }
    
    form.register-form {
        margin-left: 20%;
        margin-top: 15%;
    }
    
    form.login-form {
        margin-left: 25%;
        margin-top: 25%;
    }
    
    form {
        display: relative;
        width: 100%;
        align-items: center;
        padding: 0rem 5rem;
        overflow: hidden;
    }
    
    .title {
        align-self: flex-start;
        font-size: 2.2rem;
        color: #444;
        margin-bottom: 10px;
    }
    
    .input-field {
        max-width: 380px;
        width: 100%;
        background-color: #f0f0f0;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
        /* positions the icon and input */
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0.4rem;
    }
    
    .form-element {
        display: flex;
        flex-direction: column;
    }
    
    .alert-danger {
        color: red;
        width: 100%;
        font-size: 0.8rem;
    }
    
    .input-field i {
        text-align: center;
        line-height: 55px;
        color: #acacac;
        transition: 0.5s;
        font-size: 1.1rem;
    }
    
    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.1rem;
        color: #333;
    }
    
    select {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.1rem;
        color: #333;
    }
    
    .input-field input::placeholder {
        color: #aaa;
        font-weight: 500;
    }
    
    .name-surname {
        display: grid;
        grid-template-columns: 47.5% 5% 47.5%;
        max-width: 380px;
    }
    
    .name-surname.input-field {
        margin-right: 10px;
    }
    
    .links {
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: space-between;
    }
    
    .social-media {
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-text {
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 0;
        font-size: 1rem;
    }
    
    .social-icon {
        height: 46px;
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.45rem;
        color: #333;
        border-radius: 50%;
        border: 1px solid #333;
        text-decoration: none;
        font-size: 1.1rem;
        transition: 0.3s;
    }
    
    .social-icon:hover {
        color: #4481eb;
        border-color: #4481eb;
    }
    
    .btn {
        width: 100%;
        max-width: 380px;
        background-color: #5995fd;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 49px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .btn:hover {
        background-color: #4d84e2;
    }
    
    .btn.transparent {
        background-color: transparent;
        color: #5995fd;
        border: 2px solid #5995fd;
    }
    
    .btn.transparent:hover {
        background-color: #5995fd;
        color: #fff;
    }
    
    .buttons-div {
        display: flex;
        flex-direction: column;
    }
    
    .picture-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
    
    .picture-container span {
        width: 100%;
        margin-right: 20%;
    }
    
    @media (max-width: 870px) {
        .picture-container img {
            margin-left: -60%;
            transition: 0.5s;
        }
        form {
            transition: ease;
            margin: auto;
        }
    }
    
    @media (max-width: 570px) {
        .picture-container {
            display: none;
        }
        .login-container {
            width: 100%;
        }
        form {
            margin: auto;
        }
    }