@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
    /* variables */
    --light-blue: #5995fd;
    --bg-white: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    /* padding doesn't make the width bigger */
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

#wrapper {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%
}

.flex-container {
    display: flex;
}

.inner-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 0rem 5rem;
    overflow: hidden;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.alert-danger {
    color: red;
    width: 100%;
    font-size: 0.8rem;
}

.input-field {
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    /* positions the icon and input */
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

textarea {
    font-family: "Poppins";
    outline: none;
    border: none;
    background-color: #f0f0f0;
}

select {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.links {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--light-blue, #5995fd);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #4d84e2;
}

.btn:disabled {
    background-color: lightgray !important;
}

.btn.transparent {
    background-color: transparent;
    color: var(--light-blue, #5995fd);
    border: 2px solid var(--light-blue, #5995fd);
}

.btn.transparent:hover {
    background-color: var(--light-blue, #5995fd);
    color: #fff;
}

.buttons-div {
    display: flex;
    flex-direction: column;
}

.picture-container {
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.picture-container span {
    margin-right: 20%;
}

nav-bar {
    position: fixed;
    top: 0px;
}