header {
    position: fixed;
    width: 100%;
    height: 77px;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 1px 8px var(--bg-white);
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    text-align: center;
}

nav li,
nav a,
.nav-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

.logo {
    cursor: pointer;
    width: 60px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: black;
}

.nav-links li a:hover {
    color: var(--light-blue);
}

.nav-btn {
    padding: 9px 25px;
    text-transform: initial;
    margin: 0;
}