.user-thumbnail-container {
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.user-thumbnail-container img {
    width: 60px;
    border-radius: 50%;
}

.user-thumbnail-container h3 {
    margin-left: 10px !important;
}

.user-thumbnail-container span {
    margin-left: 5px;
}
